<footer>
  <p class="footer_p">
    KASV Košice <br />
    <a class="contact" href="mailto:marek.lescinsky@kosickaakademia.sk"><strong>marek.lescinsky@kosickaakademia.sk</strong></a>
    <a class="contact" href="tel:+421 944 339 212">+421 944 339 212</a>
    <br /><strong>SuperTeam - software development © </strong>
    <time datetime="2023">2023</time>
  </p>
  <br>
  
</footer>