<!DOCTYPE html>
<html lang="sk">
<%- include ('./partials/header.ejs') %>

    <body>
        <main class="error_wrapper">
            <h1>404</h1>
            <h2 class="error_reason">oops!<br>stránka sa nenašla :(</h2>
            <p class="error_text"><b>Prepáč, stránka ktorú sa snažíš navštíviť neexustuje</b></p>
            <button class="btn btn-features"><span><a style="color: white;" href="/questions">Spät na web</a></span></button>
        </main>
    </body>

</html>