@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu a {
    display: flex;
    line-height: 65px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    width: 146px;
  }

  #menu ul {
    background: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }

  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }

  #menu li {
    display: block;
    float: none;
    width: auto;
  }

  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  #menu input {
    z-index: 4;
  }

  #menu input:checked+label {
    color: white;
  }

  #menu input:checked+label:before {
    content: "\00d7";
  }

  #menu input:checked~ul {
    display: block;
  }
  #teacher_link_res {
    pointer-events: none
  }
  body {
    width: 100%;
    margin: 0;
  }
  .form_wrapper {
    width: 90%;
    font-size: medium;
  }
}